@import '~antd/dist/antd.less';

.@{btn-prefix-cls} {
  font-weight: 500;
}

.@{radio-prefix-cls} {
  &-checked {
    &::after {
      border: none;
      animation: none;
      animation-fill-mode: none;
    }

    .@{radio-inner-prefix-cls} {
      &::after {
        @radio-dot-color: @cc-black;
        background-color: @radio-dot-color;
        transform: none;
        transition: none;
      }
    }
  }

  &-inner {
    &::after {
      @radio-dot-color: @cc-black;
      background-color: @radio-dot-color;
      transform: none;
      transition: none;
    }
  }
}

.@{radio-prefix-cls}-wrapper {
  position: relative;
  font-size: 1rem;

  .ant-radio {
    position: absolute;
    top: 0;
    left: 0;
  }

  > span:last-of-type {
    display: inline-block;
    margin-left: @radio-size;
    line-height: @radio-size;
  }
}

span.@{radio-prefix-cls} + * {
  padding-right: 16px;
  padding-left: 10px;
}

@radio-button-border-width: 1px;
@radio-button-border-color: rgb(217, 217, 217);
@radio-button-border-radius: 2px;

.@{radio-prefix-cls}-button-wrapper {
  border: @radio-button-border-width @border-style-base @radio-button-border-color;
  border-top-width: @radio-button-border-width + 0.02px;
  border-left-width: 0;

  &:not(:first-child) {
    &::before {
      top: @radio-button-border-width * -1;
      padding: @radio-button-border-width 0;
      background-color: @radio-button-border-color;
    }
  }

  &:first-child {
    border-left: @radio-button-border-width @border-style-base @radio-button-border-color;
    border-radius: @radio-button-border-radius 0 0 @radio-button-border-radius;
  }

  &:last-child {
    border-radius: 0 @radio-button-border-radius @radio-button-border-radius 0;
  }

  &:first-child:last-child {
    border-radius: @radio-button-border-radius;
  }

  &-checked:not(&-disabled) {
    &::before {
      background-color: @radio-button-active-color;
    }
  }
}

.@{table-prefix-cls} {
  background: transparent;

  &-thead > tr > th,
  &-tbody > tr > td,
  tfoot > tr > th,
  tfoot > tr > td {
    padding-top: 8px;
    padding-bottom: 8px;

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }

  &-thead {
    > tr {
      > th {
        border-bottom: 1px solid @cc-grey-3;
        background: transparent;
        font-weight: var(--bold);

        &.align-right {
          text-align: right;
        }

        &:not(:last-child):not(.@{table-prefix-cls}-selection-column):not(.@{table-prefix-cls}-row-expand-icon-cell):not([colspan])::before {
          display: none;
        }
      }
    }
  }
  &-tbody {
    > tr {
      &:last-child,
      &:last-of-type {
        > td {
          border-bottom: 1px solid @cc-grey-3;
        }
      }
      > td {
        // border-bottom: 1px solid @cc-grey-4;
        border-bottom: none;

        &.align-right {
          text-align: right;
        }
      }
      &.@{table-prefix-cls}-row:hover {
        > td {
          background: transparent;
        }
      }
    }
  }
}
