.food-list-item {
  padding: 1rem 0;

  &:not(:last-child):not(:last-of-type) {
    border-bottom: 1px solid @cc-grey-4;
  }
}

.food__header {
  margin-bottom: 1rem;
  font-size: calc(1rem + 2px);
}

.food__grid {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  row-gap: 0.25rem;
  column-gap: 2rem;
}

.food__property {
  font-weight: var(--bold);
}

.food-list-panel {
  margin-bottom: 1rem;
}

.food-list-panel__label {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  color: white;
  background-color: @cc-blue;
}

.food-list-panel__list {
  margin-top: calc(-1px - (1.25rem * 1.25 + 1rem) / 2);
  border-top: 2px solid @cc-blue;
  border-bottom: 1px solid @cc-grey-4;
  padding-top: calc((1.25rem * 1.25 + 1rem) / 2 - 1px);
  background-color: white;
}

.back-to-top {
  padding: 1rem 0;
}

.back-to-top__link {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  text-decoration: underline;
}

.back-to-top__arrow {
  margin-right: 0.25rem;
}

.calorie-checker__collapse-override {
  .@{collapse-prefix-cls} {
    .@{collapse-prefix-cls}-item {
      &.@{collapse-prefix-cls}-no-arrow {
        > .@{collapse-prefix-cls}-header {
          padding-left: 0;
          padding-right: 0;
        }
      }

      > .@{collapse-prefix-cls}-content {
        > .@{collapse-prefix-cls}-content-box {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }

    &.@{collapse-prefix-cls}-ghost {
      > .@{collapse-prefix-cls}-item {
        > .@{collapse-prefix-cls}-header {
          padding-top: 0;
          padding-bottom: 0;
        }
        > .@{collapse-prefix-cls}-content {
          > .@{collapse-prefix-cls}-content-box {
            padding-top: 0;
            padding-bottom: 0;
          }
        }
      }
    }
  }
}
