.form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 100%;
}

.input-age {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.input-age__label {
  display: contents;
}

.input-age__input {
  flex: 1 0 auto;
}

.select-gender {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.select-gender__radio-group {
  flex: 1 0 auto;

  display: flex;

  & > * {
    width: 50%;
    text-align: center;
  }
}

.input-height {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.input-height__label {
  display: contents;
}

.input-height__input {
  flex: 1 0 auto;
}

.input-weight {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.input-weight__label {
  display: contents;
}

.input-weight__control {
  flex: 1 0 auto;
}

.select-activity-level {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.select-activity-level__label {
  display: contents;
}

.select-activity-level__control {
  flex: 1 0 auto;
}

.select-goal {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.select-goal__label {
  display: contents;
}

.select-goal__control {
  flex: 1 0 auto;
}
