@import '~antd/dist/antd.less';

.app {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.width-container {
  margin: 0 auto;
  width: 100%;
  max-width: 425px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 100%;
}

.input-age {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.input-age__label {
  display: contents;
}

.input-age__input {
  flex: 1 0 auto;
}

.select-gender {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.select-gender__radio-group {
  flex: 1 0 auto;

  display: flex;

  & > * {
    width: 50%;
    text-align: center;
  }
}

.input-height {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.input-height__label {
  display: contents;
}

.input-height__input {
  flex: 1 0 auto;
}

.select-activity-level {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.select-activity-level__label {
  display: contents;
}

.select-activity-level__control {
  flex: 1 0 auto;
}
