@import './antd.less';
@import './shared.less';

.app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 24px;

  // color: #212b32;
  // background-color: #f0f4f5;
  font-size: 16px;
}

.width-container {
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
  max-width: 425px;
}
